*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
.header{
    font-size: 8vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vw;
}
.container_main{
    display: flex;
}