*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
.header{
    font-size: 8vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vw;
    text-align: center;
}
.page_desc{
    font-size: 3vw;
    text-align: center;
}
.btn{
    width: 30vw;
    height: 5vw;
    background-color: blue;
    font-size: 2vw;
    color: white;
    border-radius: 1vw;
}
.btn_img{
    width: 4.7vw;
    height: 4.7vw;
    border-radius: 1vw;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}